FormatStyle: file
HeaderFilterRegex: '\.h$|\.hpp$'
WarningsAsErrors: >
  *,
  -misc-include-cleaner,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -modernize-use-auto,
  -modernize-avoid-c-arrays,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-else-after-return,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  misc-*,
  misc-include-cleaner,
  -misc-use-anonymous-namespace,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  cert-*,

# CheckOptions:
# readability-identifier-naming.ClassCase: CamelCase
# readability-identifier-length.MinimumVariableNameLength: 2
# readability-identifier-length.MinimumParameterNameLength: 2

